:root{
    /* constants for button dimensions */
    --button-width: 15vw;
    --button-height: var(--button-width);
}

body {
    background-color: #3A606E;
    font-family: Arial;
}

h1{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

p{
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.startButton {
    border: none;
    background-color: white;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 120px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.greenButton{
    margin-left: 20px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.greenButton.clicked{
    background-color: green;
}

.blueButton{
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.blueButton.clicked{
    background-color: #0345fc;
}

.redButton{
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.redButton.clicked{
    background-color: #d4242d;
}

.yellowButton{
    background-color: #fffebd;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.yellowButton.clicked{
    background-color: yellow;
}