:root{
    /* constants for button dimensions */
    --difficulty-height: 5.5vw;
    --difficulty-width: 11vw;
    --button-width: 15vw;
    --button-height: var(--button-width);
}

body {
    background-color: #3A606E;
    font-family: Arial;
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 16em;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.easyButton {
    border: none;
    background-color: white;
    font-size: 14px;
    width: var(--difficulty-width);
    height: var(--difficulty-height);
    border-radius: 5px;
    margin-top: 40px;
}

.easyButton.clicked {
    background-color: lightgray;
}

.mediumButton {
    border: none;
    background-color: white;
    font-size: 14px;
    width: var(--difficulty-width);
    height: var(--difficulty-height);
    border-radius: 5px;
}

.mediumButton.clicked {
    background-color: lightgray;
}

.hardButton {
    border: none;
    background-color: white;
    font-size: 14px;
    width: var(--difficulty-width);
    height: var(--difficulty-height);
    border-radius: 5px;
}

.hardButton.clicked {
    background-color: lightgray;
}

.crazyButton {
    border: none;
    background-color: white;
    font-size: 14px;
    width: var(--difficulty-width);
    height: var(--difficulty-height);
    border-radius: 5px;
}

.crazyButton.clicked {
    background-color: lightgray;
}

.greenButton{
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
    margin-top: 100px;
}
.greenButton.clicked{
    background-color: green;
}

.blueButton{
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.blueButton.clicked{
    background-color: #0345fc;
}

.redButton{
    margin-top: 3px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.redButton.clicked{
    background-color: #d4242d;
}

.yellowButton{
    background-color: #fffebd;
    border: none;
    border-radius: 5px;
    width: var(--button-width);
    height: var(--button-height);
}
.yellowButton.clicked{
    background-color: yellow;
}